################################################################################
# Diese .gitignore-Datei wurde von Microsoft(R) Visual Studio automatisch erstellt.
################################################################################

/packages
/**/bin
/**/obj
/.vs/RecNForget
/RecNForget.Controls/RecNForget.Controls.csproj.user
