################################################################################
# Diese .gitignore-Datei wurde von Microsoft(R) Visual Studio automatisch erstellt.
################################################################################

/RecNForget/obj/Debug
/.vs/RecNForget/v15
/packages
/RecNForget/bin/Release
/RecNForget/obj/Release
/RecNForget/bin/Debug
/.vs/RecNForget/v16/.suo
/.vs/RecNForget/v16/Server/sqlite3
/RecNForget.Setup/bin/Release
/RecNForget.Setup/obj/Release
/RecNForget.Setup/bin/Debug
/RecNForget.Setup/obj/Debug
/RecNForget.Setup.Extensions/bin/Debug
/RecNForget.Setup.Extensions/obj/Debug
/RecNForget.ImageConverter/bin/Debug
/RecNForget.ImageConverter/obj/Debug
/RecNForget.GithubHelpGenerator/obj/Debug
/RecNForget.GithubHelpGenerator/bin/Debug
