################################################################################
# Diese .gitignore-Datei wurde von Microsoft(R) Visual Studio automatisch erstellt.
################################################################################

/RecNForget/obj/Debug
/.vs/RecNForget/v15
/packages
/RecNForget/bin/Release
/RecNForget/obj/Release
/RecNForget/bin/Debug
/.vs/RecNForget/v16/.suo
/.vs/RecNForget/v16/Server/sqlite3
/RecNForget.Setup/bin/Release
/RecNForget.Setup/obj/Release
/RecNForget.Setup/bin/Debug
/RecNForget.Setup/obj/Debug
/RecNForget.Setup.Extensions/bin/Debug
/RecNForget.Setup.Extensions/obj/Debug
/RecNForget.ImageConverter/bin/Debug
/RecNForget.ImageConverter/obj/Debug
/RecNForget.GithubHelpGenerator/obj/Debug
/RecNForget.GithubHelpGenerator/bin/Debug
/RecNForget.CopyRightHelper/bin/Debug
/RecNForget.CopyRightHelper/obj/Debug
/RecNForget.CopyRightHelper/obj/Release/RecNForget.CopyRightHelper.csprojAssemblyReference.cache
/RecNForget.Setup.Extensions/bin/Release
/RecNForget.CopyRightHelper/bin/Release
/RecNForget.CopyRightHelper/obj/Release
/RecNForget.GithubHelpGenerator/bin/Release/Sounds
/RecNForget.GithubHelpGenerator/bin/Release
/RecNForget.GithubHelpGenerator/obj/Release
/RecNForget.ImageConverter/bin/Release
/RecNForget.ImageConverter/obj/Release
/RecNForget.Setup.Extensions/obj/Release
/.vs/RecNForget/config/applicationhost.config
/RecNForget.Setup/StyleCop.Cache
/RecNForget/StyleCop.Cache
/RecNForget.CopyRightHelper/StyleCop.Cache
/RecNForget.GithubHelpGenerator/StyleCop.Cache
/RecNForget.ImageConverter/StyleCop.Cache
/RecNForget.Setup.Extensions/StyleCop.Cache
/RecNForget.Services/bin/Debug
/RecNForget.Services/obj/Debug
/RecNForget.Services.Contracts/obj/Debug
/RecNForget.Services.Contracts/bin/Debug
/RecNForget.IoC/obj/Debug
/RecNForget.IoC/bin/Debug
/RecNForget.Controls/obj/Debug
/RecNForget.Controls/obj/Debug
/RecNForget.Controls/bin/Debug
/RecNForget.Styles/bin/Debug
/RecNForget.Styles/obj/Debug
/RecNForget.Controls/obj/Release
/RecNForget.Controls.CustomMessageBox/obj
/RecNForget.IoC/obj/Release
/RecNForget.Services/obj/Release
/RecNForget.Services.Contracts/bin/Release
/RecNForget.Services.Contracts/obj/Release
/RecNForget.Services.Designer/obj
/RecNForget.Services.Designer/bin/Debug
/RecNForget.Services.Helpers/bin/Debug
/RecNForget.Services.Helpers/obj/Debug
/RecNForget.Help/obj/Debug
/RecNForget.Help/bin/Debug
