<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7" />
  </startup>
  <appSettings>
    <add key="HotKey_StartStopRecording" value="Key=F12; Win=False; Alt=False; Ctrl=True; Shift=False" />
    <add key="HotKey_OpenLastRecording" value="Key=F12; Win=False; Alt=False; Ctrl=False; Shift=True" />
    <add key="HotKey_OpenOutputPath" value="Key=F12; Win=False; Alt=False; Ctrl=True; Shift=True" />
    <add key="HotKey_SetFileNamePrefix" value="Key=F12; Win=False; Alt=True; Ctrl=False; Shift=False" />
    <add key="HotKey_ToggleFileNamePromptMode" value="Key=F12; Win=False; Alt=True; Ctrl=True; Shift=False" />
    <add key="HotKey_SetOutputPath" value="Key=F12; Win=False; Alt=True; Ctrl=True; Shift=True" />
    <add key="FilenamePrefix" value="RecNForget_" />
    <add key="OutputPath" value="C:\tmp" />
    <add key="PromptForFileName" value="Never" />
    <add key="WindowAlwaysOnTop" value="False" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>