<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <!-- <variable name="LogDir" value="${specialfolder:folder=MyDocuments}/MyApp/Log"/> -->
  <variable name="LogDay" value="${date:format=yyyy-MM-dd}"/>
  
  <targets>
    <!--<target name="logfile" xsi:type="File" fileName="logs\${LogDay}.log" encoding="utf-8" maxArchiveFiles="10" archiveNumbering="Sequence" archiveAboveSize="1048576" archiveFileName="${LogDir}/{#######}.a" />-->
    <!--<target name="logconsole" xsi:type="Console" />-->

    <target name="seq" xsi:type="Seq" serverUrl="http://localhost:5341" apiKey="">
      <property name="ThreadId" value="${threadid}" as="number" />
      <property name="MachineName" value="${machinename}" />
    </target>
  </targets>

  <rules>
    <!-- <logger name="*" minlevel="Info" writeTo="logconsole" /> -->
    <logger name="*" minlevel="Info" writeTo="seq" />
    <!--<logger name="*" minlevel="Info" writeTo="logfile" />-->
  </rules>
</nlog>