<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
     xmlns:netfx="http://schemas.microsoft.com/wix/NetFxExtension">
    <?define iconPath="..\..\..\icon_generation\logo.ico"?>
    <Product Id="{1797362C-C758-4F22-9878-2AF96B9C9524}" Name="RecNForget" Language="1033" Version="0.4.0.0" Manufacturer="DrCopyPaste" UpgradeCode="{6314EF38-B5B0-4344-92DB-C1F2B418DF70}">
        <Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" InstallPrivileges="elevated" />
        <UIRef Id="WixUI_InstallDir"/>
        <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
        <MediaTemplate EmbedCab="yes" />
        <Icon Id="icon.ico" SourceFile="$(var.iconPath)" />
        <Property Id="ARPPRODUCTICON" Value="icon.ico" />
        <Property Id="ARPHELPLINK" Value="https://github.com/DrCopyPaste/RecNForget/issues" />
        <Property Id="ARPURLINFOABOUT" Value="https://github.com/DrCopyPaste/RecNForget/blob/master/README.md" />
        <Property Id="ARPURLUPDATEINFO" Value="https://github.com/DrCopyPaste/RecNForget/releases/latest" />

        <!--<Property Id="MsiLogging" Value="v" />-->

        <PropertyRef Id="NETFRAMEWORK45" />
        <Condition Message="This application requires .NET Framework 4.7 or higher.">
          <![CDATA[Installed OR (NETFRAMEWORK45 >= "#460798")]]>
        </Condition>
      
        <Property Id="WIXUI_INSTALLDIR" Value="INSTALLFOLDER" />
        <WixVariable Id="WixUIBannerBmp" Value="$(var.ProjectDir)..\icon_generation\WixUIBannerBmp.bmp" />
        <WixVariable Id="WixUIDialogBmp" Value="$(var.ProjectDir)..\icon_generation\WixUIDialogBmp.bmp" />
        <WixVariable Id="WixUILicenseRtf" Value="$(var.ProjectDir)apache2.license.rtf" />

        <Binary Id="CustomActionDll" SourceFile="$(var.RecNForget.Setup.Extensions.TargetDir)RecNForget.Setup.Extensions.CA.dll" />

        <InstallExecuteSequence>
          <Custom Action="RemoveApplicationSettingsCA" Before="InstallFinalize">REMOVE="ALL"</Custom>
        </InstallExecuteSequence>

        <CustomAction Id="RemoveApplicationSettingsCA" Return="check" Execute="immediate" BinaryKey="CustomActionDll" DllEntry="RemoveApplicationSettings" />
      
        <Feature Id="ProductFeature" Title="RecNForget" Level="1">
            <ComponentGroupRef Id="ProductComponents" />
        </Feature>
    </Product>
    <Fragment>
        <Directory Id="TARGETDIR" Name="SourceDir">
            <Directory Id="ProgramFilesFolder">
                <Directory Id="MANUFACTURERFOLDER" Name="!(bind.property.Manufacturer)">
                    <Directory Id="INSTALLFOLDER" Name="!(bind.property.ProductName)">
                        <Directory Id="SOUNDSFOLDER" Name="Sounds" />
                    </Directory>
                </Directory>
            </Directory>
            <Directory Id="ProgramMenuFolder">
                <Directory Id="ApplicationProgramsFolder" Name="!(bind.property.ProductName)" />
            </Directory>
        </Directory>
    </Fragment>
    <Fragment>
        <ComponentGroup Id="ProductComponents">
            <Component Id="$(var.RecNForget.TargetFileName)" Guid="{968CCF60-FD1A-41F1-8EB2-575C32C2F14E}" Directory="INSTALLFOLDER">
                <File Id="$(var.RecNForget.TargetFileName)" Source="$(var.RecNForget.TargetPath)" KeyPath="yes" Checksum="yes">
                </File>
            </Component>
            <Component Id="FMUtils.KeyboardHook.dll" Guid="{3132874D-E3EC-49F2-A301-0D2C96A8EB01}" Directory="INSTALLFOLDER">
                <File Id="FMUtils.KeyboardHook.dll" Source="$(var.RecNForget.TargetDir)FMUtils.KeyboardHook.dll" KeyPath="yes" Checksum="yes">
                </File>
            </Component>
            <Component Id="Hardcodet.Wpf.TaskbarNotification.dll" Guid="{2EC12371-54C3-4E18-9E8E-47ACC3DB429C}" Directory="INSTALLFOLDER">
                <File Id="Hardcodet.Wpf.TaskbarNotification.dll" Source="$(var.RecNForget.TargetDir)Hardcodet.Wpf.TaskbarNotification.dll" KeyPath="yes" Checksum="yes">
                </File>
            </Component>
            <Component Id="NAudio.dll" Guid="{26188527-54B5-43F6-A0FB-346FF378B5D3}" Directory="INSTALLFOLDER">
                <File Id="NAudio.dll" Source="$(var.RecNForget.TargetDir)NAudio.dll" KeyPath="yes" Checksum="yes">
                </File>
            </Component>
            <Component Id="Ookii.Dialogs.Wpf.dll" Guid="{D55CCDC8-E206-4FD9-BBC6-C7CF48E947D5}" Directory="INSTALLFOLDER">
                <File Id="Ookii.Dialogs.Wpf.dll" Source="$(var.RecNForget.TargetDir)Ookii.Dialogs.Wpf.dll" KeyPath="yes" Checksum="yes">
                </File>
            </Component>
            <Component Id="startRec.wav" Guid="{D3278C12-118D-4801-B89E-25FC728C3F34}" Directory="SOUNDSFOLDER">
                <File Id="startRec.wav" Source="$(var.RecNForget.TargetDir)Sounds\startRec.wav" KeyPath="yes" Checksum="yes" />
            </Component>
            <Component Id="stopRec.wav" Guid="{43FD0758-553C-4A7E-8FAA-CAED1E4FDCB7}" Directory="SOUNDSFOLDER">
                <File Id="stopRec.wav" Source="$(var.RecNForget.TargetDir)Sounds\stopRec.wav" KeyPath="yes" Checksum="yes" />
            </Component>
            <Component Id="playbackStart.wav" Guid="{C398530A-DC91-4569-BE9A-FD55C47E4660}" Directory="SOUNDSFOLDER">
                <File Id="playbackStart.wav" Source="$(var.RecNForget.TargetDir)Sounds\playbackStart.wav" KeyPath="yes" Checksum="yes" />
            </Component>
            <Component Id="playbackStop.wav" Guid="{EE3C9B53-A281-4C57-9A0F-9535859341B1}" Directory="SOUNDSFOLDER">
                <File Id="playbackStop.wav" Source="$(var.RecNForget.TargetDir)Sounds\playbackStop.wav" KeyPath="yes" Checksum="yes" />
            </Component>
            <Component Id="ApplicationShortcuts" Guid="{3FA4885D-EC94-4023-94AE-BF49C7364D27}" Directory="ApplicationProgramsFolder">
                <Shortcut Id="ApplicationShortcut" Name="!(bind.property.ProductName)" Target="[#RecNForget.exe]" />
                <RegistryValue Root="HKCU" Key="Software\!(bind.property.Manufacturer)\!(bind.property.ProductName)" Name="ApplicationShortcutInstalled" Type="integer" Value="1" KeyPath="yes" />
                <RemoveFolder Id="RemoveApplicationProgramsFolder" Directory="ApplicationProgramsFolder" On="uninstall" />
            </Component>
        </ComponentGroup>
    </Fragment>
</Wix>